.scoreboard-grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 50% 10px 50%;
  text-align: center;
}

.scoreboard-header {
  font-family: "Build";
  display: grid;
  grid-template-columns: 140px 48% 14% 5%;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: start;
}

.scoreboard-team {
  font-family: "Build";
  font-size: xx-large;
  margin-top: 10px;
  margin-bottom: 30px;
}

.scoreboard-divider {
  height: 100%;
  background-color:rgba(128, 128, 128, 0.312);
  width: 1px;
  margin-left: 5px;
  margin-right: 5px;
}

.red {
  color: salmon;
}

.blu {
  color:skyblue
}

@media screen and (max-width: 960px) {
  .scoreboard-grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    text-align: center;
  }

  .scoreboard-divider {
    display: none;
  }
}
