.scoreboard-grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 10px 1fr;
  text-align: center;
  overflow-x: hidden;
}

.scoreboard-nav {
  font-family: 'Build';
  display: grid;
  grid-template-columns: 130px 1fr 15% 10%;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: start;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.scoreboard-header {
  font-family: 'Build';
  font-size: xx-large;
  margin-top: 10px;
  margin-bottom: 30px;
}

.scoreboard-divider {
  height: 100%;
  background-color: rgba(128, 128, 128, 0.312);
  width: 1px;
  margin-left: 5px;
  margin-right: 5px;
}

.red {
  color: salmon;
}

.blu {
  color: skyblue;
}

@media screen and (max-width: 980px) {
  .scoreboard-grid-container {
    grid-template-columns: 1fr;
  }

  .scoreboard-divider {
    display: none;
  }

  .scoreboard-team {
    overflow-y: auto;
  }
}
