{
  "root":true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "prefer-const": "warn",
    "arrow-parens": ["error", "always"],
    "no-confusing-arrow": "error",
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "func-call-spacing": ["error", "never"],
    "prettier/prettier": ["error"],
    "prefer-destructuring": "error",
    "no-var": "error",
    "sort-imports": ["error", {
      "ignoreCase": true,
      "ignoreDeclarationSort": true,
      "ignoreMemberSort": false,
      "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
    }]
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "ignorePatterns": ["dist/", "build", "public/"]
}
