.tooltip.right {
  @apply top-2/4 left-full -translate-y-2/4;
}

.tooltip.left {

  @apply top-2/4 right-full -translate-y-2/4;
}

.tooltip.top {
  @apply bottom-full -translate-x-1/3;
}

.tooltip.bottom {
  @apply top-full -translate-x-1/3;
}

.tooltip-container:hover .tooltip {
  @apply opacity-100;
}

