.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #333333f0;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 9999;
}

.tooltip.right {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}

.tooltip.left {
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
}

.tooltip.top {
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip.bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}


.tooltip-container:hover .tooltip {
  display: block;
}

.tooltip-container .tooltip {
  display: none;
}
