.side-menu.collapsed {
  @apply max-w-[50px];
}

.menu-toggle.collapsed {
  @apply relative top-2 left-2 bottom-[unset] transform-none;
}

.menu-icon.collapsed {
  @apply ml-1 left-1 relative -top-0.5;
}