.checkbox-wrapper {
  align-items: center;
  cursor: pointer;
}

.checkbox-icon {
  position: relative;
  top: 6px;
}

.checkbox-icon.checked {
  color: #0dc9d0;
}

.checkbox-title {
  margin-left: 0.5em;
}
