.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.301);
}

.modal {
    position: fixed;
    padding: 20px;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    background-color: #161617eb;
    outline: 1px solid var(--dark-highlight-color);
    backdrop-filter: blur(5px);
    border-radius: 5px;
}