.miniscore-container {
  position: absolute;
  display: grid;
  grid-template-rows: 40px auto;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Build';
  width: 100%;
  height: 100%;
  overflow: auto;
}

.miniscore-team-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.miniscore-team {
  display: flex;
  justify-self: center;
  transform: translateX(-50%);
}

.miniscore-text {
  font-size: 16px;
  display: flex;
  margin-right: auto;
}

.miniscore-num {
  margin-left: 10px;
}
