.sm-item-outer {
  padding: 10px;
  transition: background-color 0.1s;
  transition-delay: 0.1s;
  white-space: nowrap;
}

.sm-item-flex {
  align-items: center;
}

.sm-item-outer:hover {
  cursor: pointer;
  background-color: var(--dark-hover-color);
  border-radius: 2px;
  transition-delay: 0s;
}

.sm-item-icon {
  position: relative;
  top: 2px;
  margin-left: 3.5%;
}

.sm-item-title {
  font-size: large;
  margin-left: 5%;
}
