.player-item {
  width: 100%;
  align-items: center;
  display: grid;
  grid-template-columns: 130px 40% 10% 10% 15%;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px
}

.player-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.player-profile {
  position: relative;
  margin-left: 10px
}

.player-pfp {
  position: relative;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

.player-badge {
  margin-right: 20px;
}

.player-status {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}