.player-item {
  width: 100%;
  align-items: center;
  display: grid;
  grid-template-columns: 120px minmax(100px, 1fr) 18px minmax(0px, 100px) minmax(0px, 60px);
  padding-left: 5px;
  margin-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.player-name,
.player-time,
.player-status {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.player-profile {
  position: relative;
  margin-left: 10px;
}

.player-pfp {
  position: relative;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

.player-badge {
  margin-right: 20px;
}
