.redirect {
  text-decoration: none;
  color: unset;
}
.redirect:hover {
  color: skyblue;
}

.phc-container {
  display: flex;
  height: 120px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--dark-bg-color);
  border: 1px solid var(--dark-highlight-color);
}

.phc-content {
  display: grid;
  top: -10px;
  grid-template-rows: 40px 22px 40px auto;
  position: relative;
}

.phc-left {
  margin-right: 7px;
}

.phc-private {
  top: 2px;
  position: relative;
}

.phc-name,
.redirect {
  margin-right: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  font-size: xx-large;
}

.phc-pfp {
  position: relative;
  top: -4px;
  border-radius: 5px;
  left: -5px;
}

.phc-details {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #666666;
}

.phc-badge {
  margin-right: 10px;
}

.phc-profile-info {
  color: gray;
}
