.preference-container {
  height: 100vh;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.preferences {
  margin-left: 60px;
  font-size: large;
}

.preference-option {
  width: 100%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.preference-option.pref-password {
  grid-template-columns: 50% 205px 24px;
}

.pref-password-reveal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 4px;
  padding-right: 4px;
}

.pref-password-reveal:hover {
  cursor: pointer;
  background-color: var(--dark-bg-color);
  border-radius: 4px;
}

.preference-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.preference-select {
  width: 150px;
}