.preference-container {
  height: 100vh;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.preferences {
  margin-left: 60px;
  font-size: large;
}

.preference-option {
  width: 100%;
  margin-left: 10%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.preference-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.preference-select {
  width: 110px;
}