.playerhistory-container {
  display: grid;
  grid-template-columns: 50% 50%;
  overflow-y: auto;
  max-height: calc(100vh - 120px);
}

.history-search {
  width: calc(100% - 45px);
}

.history-sort {
  height: 10px;
}

.playerhistory-container::-webkit-scrollbar {
  /* Style the scrollbar */
  width: 6px;
}

.playerhistory-container::-webkit-scrollbar-track {

  background: #555;
}

.playerhistory-container::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

.playerhistory-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 1000px) {
  .playerhistory-container {
    display: grid;
    grid-template-columns: 100%;
  }

  .history-search {
    width: calc(100% - 45px) !important;
    margin-right: 50px;
  }
}
