.minicolor-container {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 3px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  background-color: var(--dark-bg-color);
}

.minicolor-color {
  width: 80px;
  height: 25px;
  margin-right: 7px;
  margin-left: 2px;
  border-radius: 2px;
}

.minicolor-icon {
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.minicolor-change {
  padding: 3px;
  margin-right: 3px;
  cursor: pointer;
  border-radius: 4px;
}

.minicolor-clear {
  padding: 3px;
  margin-right: 3px;
  cursor: pointer;
  border-radius: 4px;
}

.minicolor-clear:hover {
  background-color: var(--dark-highlight-color);
  border-radius: 4px;
}

.minicolor-change:hover {
  background-color: var(--dark-highlight-color);
}

.popover {
  position: absolute;
  border-radius: 9px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background-color: var(--dark-bg-color);
}

.colorpicker {
  z-index: 999;
}

.colorselect-menu {
  display: grid;
  z-index: 999;
  position: absolute;
  top: 0px;
  right: -25px;
  cursor: pointer;
}