.text-input {
  border: none;
  border-bottom: 2px solid white;
  background-color: var(--dark-bg-color);
  color: white;
  padding: 3px;
  font-size: 16px;
}

.text-input:focus {
  outline: none;
}
