.select-item-container {
  position: relative;
  display: inline-block;
}

.select-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 2px 10px;
  background-color: var(--dark-bg-color);
  border-radius: 3px;
  cursor: pointer;
  transition: border-color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.select-head.active {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.select-text {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 15px;
}

.select-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
}

.select-options-container {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: 100%;
  z-index: 9999;
}

.select-options {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--dark-bg-color);
  border: 1px solid var(--dark-bg-main-color);
  z-index: 999;
  max-height: 200px;
}

.select-option {
  position: relative;
  padding: 1px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--dark-bg-color);
}

.select-option:hover {
  background-color: var(--dark-highlight-color) !important;
}

.select-option.selected {
  background-color: var(--dark-highlight-color);
}

.disabled {
  color: rgba(89, 89, 89, 0.4);
}

.select-head.render-above {
  bottom: calc(100% + 2px);
  top: auto;
}

.select-options-container.render-above {
  bottom: 100%;
  top: auto;
}