.select-container {
  position: relative;
  display: inline-block;
}

.select-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.25);
  padding: 2px 16px;
  background-color: var(--dark-bg-color);
  border-radius: 3px;
  cursor: pointer;
  transition: border-color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.select-head.active {
  border-color: var(--dark-hover-color);
}

.select-text {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 15px;
}

.select-icon {
  position: absolute;
  right: 5px;
  top: 50%;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
}

.select-options {
  position: absolute;
  list-style: none;
  border-radius: 4px;
  background-color: var(--dark-bg-color);
  border: 1px solid var(--dark-bg-main-color);
  z-index: 999;
  transform: translateX(-60%);
}

.select-option {
  position:relative;
  padding: 1px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--dark-bg-color);
}

.select-option:hover {
  background-color: var(--dark-hover-color);
}

.select-option.selected {
  background-color: var(--dark-highlight-color);
}
