.search-input {
  margin-left: 12px;
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  color: white;
  background-color: var(--dark-bg-color);
  border-style: none;
  outline: none;
}